ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
	background-image: linear-gradient(rgb(0,72,119), rgb(63,123,166));
}

li {
    float: left;
}

li:first-child {
    margin-left: 25px;
}

li a {
    display: block;
    color: #fff;
    padding: 15px 8px;
    text-decoration: none;
    text-align: center;
}

li a:hover{
    /*background-color: var(--cor-secundaria);*/
	border-radius: 10px;
	box-shadow: 0px 0px 7px rgb(255,255,255);

}

li:last-child{
    float: right;

    margin-right: 25px;
}
